<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title" *ngIf="companies">Anzahl Unternehmen: {{companies.length}} - Seite: {{reloadPage}} </h3>
                </div>
                <div class="box-body">

                    <div class="my-container">
                        <ngx-loading [show]="boolLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
                    </div>

                    <div *ngIf="companies">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let firma of companies | filterCompanies:search">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-9">
                                            <span style="font-size:18px; font-weight:bold;">{{firma.name}}</span>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                            <ul class="rating">
                                                <li *ngFor="let n of [0,1,2,3,4]; let i = index">
                                                    <span class="glyphicon" [ngClass]="getClass(i, firma.rating)"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-9">
                                            {{firma._links.self.href}}
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-3">
                                            {{firma.rating}} <span style="color:gray">({{firma.count}})</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <div infinite-scroll [infiniteScrollDistance]="2" (scrolled)="loadMore()"></div>

                    </div>
                    <div class="alert alert-warning" *ngIf="!companies">
                      <strong>Info!</strong> Es konnten keine Daten vom Server geholt werden.
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Suche</h3>
                </div>
                <div class="box-body">
                    <div class="input-group">
                        <input type="text" class="form-control" [(ngModel)]="search" placeholder="Search for a company" list="companies">
                        <datalist id="companies">
                            <option value="{{company.name}}" *ngFor="let company of companyNameList"></option>
                        </datalist>
                        <span class="input-group-btn">
                            <button class="btn btn-secondary button_pf" type="button" (click)="searchCompany()">Go!</button>
                        </span>
                    </div>
                    <div class="input-group">
                       Anzahl der Suchtreffer
                        <input type="number" class="form-control" [(ngModel)]="maxResults" min="1">
                    </div>
                    <div style="padding-top: 10px;">
                        <button class="btn warning button_pf" type="button" (click)="reset()">reset</button>
                        <button class="btn warning button_pf" type="button" (click)="toggleLoadMore()">toggleLoadMore</button> {{boolLoadMore}}
<!--                        <button class="btn warning button_pf" type="button" (click)="toggleLoading()">toggleLoading</button> {{boolLoading}}-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
