
<!--Navigation-->
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand navbar_pf"><img src="http://www.profiforms.de/wp/wp-content/uploads/2016/08/profiforms_Logo_Website1.png"></a>
        </div>

<!--Anmeldung-->
        <div class="navbar-header pull-right">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar">toggle</span>
          </button>
            <p class="navbar-text">
                <b> '.$username.' </b>
                <a href="logout.php" class="navbar-link">Logout</a>&nbsp;
            </p>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="elp">EinliefererPortal</a>
                </li>
            </ul>
        </div>

    </div>
</div>

<!--Content-Wrapper-->
<div id="wrapper">

<!--Header-->
    <div id="header">
        <div class="container">
            <h1>Angular 4 - Spring Boot</h1>
        </div>
    </div>


<!--JS disabled-->
    <noscript>
        Sollten Sie diese Meldung sehen haben Sie JavaScript deaktiviert. Um die Webseite mit allen Funktionen nutzen zu können aktivieren Sie bitte Javascript.
    </noscript>

<!--Content switched by routing-->
    <div id="body">
        <div class="content-wrapper">
            <!--View-Port-->
            <router-outlet></router-outlet>
        </div>
    </div>

<!--Footer-->
    <div id="footer">
        <div class="container">
            <p>Copyright <i class="material-icons">copyright</i> 2017 profiforms gmbh | Impressum | Datenschutzerklärung</p>
        </div>
    </div>
</div>
