
html,
body {
    font-family: Tahoma, sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    color: #00559b;
}

.navbar_pf {
    padding-top: 9px;
}

.button_pf {
    border-radius: 2px;
    border-width: 0px;
    border-style: solid;
    padding: 13px 29px;
    line-height: 17px;
    font-size: 14px;
    font-family: 'PT Sans', Arial, Helvetica, sans-serif;
    background: #f5aa23 !important;
    font-weight: normal !important;
    width: auto;
    float: none;
    color: #ffffff !important;
}

#wrapper {
    padding-top: 50px;
    min-height: 100%;
    position: relative;
}

#header {
    padding: 10px;
}

.header-logo {
    margin: 25px 20px 0 10px;
}

#body {
    padding: 10px;
    padding-bottom: 70px;
}

#footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #475258;
    border-color: #f2f2f2;
}

div#footer > div.container > p {
    margin: 15px 0 10px;
}

ul.rating {
    padding: 0;
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: red;
}

.gray {
    color: lightgray;
}
